@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: hsl(228, 33%, 97%);
}

.app {
  margin: 10px;
  padding: 10px;
  height: calc(100vh - 10px);
  width: calc(50vw - 20px);
}

.container {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.container .comment {
  position: relative;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  margin: 5px 0;
}

.replies {
  position: relative;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  margin: 10px 35px;
}
.replies::before {
  content: "";
  background-color: hsl(223, 19%, 93%);
  position: absolute;
  height: 100%;
  width: 2px;
  left: -10px;
}

@media screen and (max-width: 600px) {
  .app {
    width: calc(80vw - 20px);
  }

  .container .comment {
    display: flex;
    flex-direction: column-reverse;
  }

  .replies {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 10px;
  }
}
